<section id="search-form">
    <h2>Search</h2>
    <form id="searchform"  action="http://itat.ics.upjs.sk/" method="get">
        <fieldset>
            <p>
                <input type="hidden" name="n" value="ITAT.HomePage">
                <input type="hidden" name="action" value="search">
                <input id="s" class="textbox" type="text" name="q" value="">
                <input id="searchsubmit" class="button" type="submit" value="Go">
            </p>
        </fieldset>
    </form>
</section>

<section id="navigation">
    <nav>
        <ul>
            <% menu.forEach( item => { %>
               <% if(item.important && item.local == page){ %>
                    <li class="active"><em><a href="<%= item.local %>"><%= item.label %></a></em></li>    
                <%  }else if(item.important){ %>
                    <li><em><a href="<%= item.local %>"><%= item.label %></a></em></li>  
                <% }else if( item.local == page){ %>
                    <li class="active"><a href="<%= item.local %>"><%= item.label %></a></li>    
                <% }else{ %>
                    <li><a href="<%= item.local %>"><%= item.label %></a></li> 
            <%}}); %> 
        </ul>
    </nav>
</section>

<section id="sponsors">
    <h2>Partner</h2>
    <a href="https://www.profinit.eu/" rel="nofollow">
        <picture class="sponzor-logo">
            <img src="images/profinit_logo.png" alt="Profinit logo" width="145" height="22">
        </picture>
    </a>
</section>